#ss_info_fixed_bar{
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 5% 2rem;
  border-bottom: 1px solid #ccc;
  &_container{
    width: 100%;
    .ss_info_cols{
      @extend .flex;
      .ss_info_col{
        flex: 1;
        box-sizing: border-box;
        padding: 0;
      }
    }
  }

  .ss_form_info{
    width: 100%;
    &_db_name{
      width: 100%;
      &_input{
        width: 100%;
        .MuiInputLabel-root{
          display: none;
          &.Mui-focused{
            display: block;
          }
        }
        .MuiInputLabel-root.Mui-error{
          display: block;
        }
        .MuiInputBase-root{
          line-height: 3rem;
          font-family: $f;
          font-size: 3rem;
          color: $blue;
          &:not(.Mui-focused){
            &::after, &::before{
              display: none;
            }
          }
        }
      }
    }
    &_db_metadata{
      width: 100%;
      margin-top: 0.5rem;
      &_r{
        margin-top: 0.25rem;
        font-size: 0.8rem;
      }
    }

  }


}
