.ssmhb{
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  animation: ssmhb 0.4s ease;
  &_row{
    width: 100%;
    position: relative;
    z-index: 2;
    @extend .flex;
    box-sizing: border-box;
    padding: 0.75rem 1.15rem;
    align-items: center;
    @media (min-width: $ss){
      padding: 1.25rem 5%;
    }
    &_td{
      &.ssmhb_slogo{
        flex: 1;
        @extend .flex;
        justify-content: center;
        img{
          width: 170px;
        }
      }
      &.ssmhb_actions{
        @extend .flex;
        justify-content: flex-end;
        align-items: center;
        .ssmhb_actions_td{
          &_btn{
            text-transform: uppercase;
            font-size: 0.75rem;
            color:#f6f6f6;
            font-weight: 500;
            box-sizing: border-box;
            padding: 0.3rem 0.65rem;
            cursor: pointer;
            background: rgba(#222, 0.3);
            border: 1px solid $main;
            box-shadow: 0 0 3px rgba($main, 0.8);
            @media (min-width: $ss){
              font-size: 0.8rem;
              padding: 0.45rem 1rem;
            }

          }
        }
      }
      &.ssmhb_logo{
        @media (min-width: $ss){
          min-width: 170px;
        }
        img{
          width: 48px;
          @media (min-width: $ss){
            width: 53px;
          }
        }
      }
    }
  }
  @keyframes ssmhb{
    from{
      transform: translateY(-100%);
    }
    to{
      transform: none;
    }
  }
  &::after{
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#333, 0.95) , rgba(#333, 0));
    top: 0;
    left: 0;
    pointer-events: none;
  }
}
.wrapper_mobile{
  .ssmhb_slogo{
    justify-content: flex-end!important;
    img{
      width: 100px!important;
    }
  }
  .ssmhb_actions_td_btn{
    display: none!important;
  }
}
