.MuiButton-root{
  border-radius: 0!important;
  box-shadow: none!important;
}
.ss_modal_edit{
  .MuiDialogContent-root{
    overflow: initial!important;
  }
}
.MuiFab-root{
  box-shadow: none!important;
  border: 2px solid #333!important;
  .MuiIcon-root{
    font-size: 1.2rem!important;
  }
}
.MuiDialogContent-root{
  padding: 0.5rem 1rem!important;
}
