@media (max-width: $ss){
  .ss_db_toolbar_info_td.ss_db_lastmodified, .ss_db_builder_project_name_placeholder{
    display: none;
  }
  .ss_doi_window{
    transform: scale(0.8) translate(-15%, 20%);
  }
  .nodes_controls{
    width: 180px;
  }
  .ss_dbbuilder_sidebar{
    min-width: 350px;
  }
  body.ss_showing_drawer{
    .project_buttons{
      display: none;
    }
  }
  .project_buttons_button{
    .material-icons{
      margin-right: 0!important;
    }
    div{
      display: none;
    }
  }
  .ss_listado_container_e{
    width: 25%!important;
    .ss_listado_container_e_icon{
      width: 50px!important;
      height: 50px!important;
      .material-icons{
        font-size: 1.7rem!important;
      }
    }
  }
}
