@media (max-width: $ss){
  .ss_db_toolbar_info_td.ss_db_lastmodified, .ss_db_builder_project_name_placeholder{
    display: none;
  }
  .ss_doi_window{
    transform: scale(0.8) translate(-15%, 20%);
  }
  .nodes_controls{
    width: 180px;
  }
  .ss_dbbuilder_sidebar{
    min-width: 350px;
  }
  body.ss_showing_drawer{
    .project_buttons{
      display: none;
    }
  }
  .project_buttons_button{
    .material-icons{
      margin-right: 0!important;
    }
    div{
      display: none;
    }
  }
  .ss_listado_container_e{
    width: 25%!important;
    .ss_listado_container_e_icon{
      width: 50px!important;
      height: 50px!important;
      .material-icons{
        font-size: 1.7rem!important;
      }
    }
  }
}

.ss_mobile{

  .ss_db_choose{
    width: 100%;
    justify-content: center;
  }
  .ss_dbbuilder_front{
    min-height: 600px!important;
    .ss_db_choose_td{
      max-width: 400px;
      &:not(.ss_db_estafa){
        display: none;
      }
    }
  }
  .ss_dbbuilder_front .ss_db_choose_td .material-icons{
      position: absolute;
      right: 0;
      top: 0;
      left: auto;
      right: 0;
      font-size: 2rem;
      transform: none;
  }
  .ss_dbbuilder_sidebar{
    display: none;
  }
  .ss_db_choose_td_c{
    background-position: center top;
  }
  .ss_dbbuilder_front .ss_db_choose_td::after{
    padding-top: 50%;
  }
  #wrapper{
    min-width: 0!important;
  }
  #db_viz_nodes_controls{
    display: none!important;
    .MuiButtonBase-root{
      &:first-child{
      }
    }
  }
  .nodes_controls{
    display: none;
  }
  .nodes_controls_button{
    background: #f6f6f6;
    .material-icons{
      color: $main;
    }
  }
  .project_buttons{
    display: none;
  }
  .db_viz_info{
    padding: 0.5rem 1rem 6rem;
    display: none;
    .ss_doi_window_name{
      white-space: normal;
    }
  }
  .nodes_controls.nodes_controls_showing{
    top: 40%;
  }
  .ss_doi_window_fields, .ss_doi_window_fields_info, .ss_doi_window_name::after, .ss_db_builder_project_name_icon{
    display: none!important;
  }
  .ss_db_toolbar_info{
    padding: 0.5rem 1rem;
    .ss_db_ctas{
      display: none!important;
    }
  }
  .db_search_nodes{
    display: none;
  }
  .ss_doi_window{
    transform: none;
  }
  .nodes_controls_container{
    .ss_control_group{
      &:first-child{
        display: none!important;
      }
    }
  }
}
