RewriteEngine On
RewriteRule    ^([A-Za-z0-9-]+)/?$   index.html  [NC,L,QSA]
RewriteRule    ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$   index.html   [NC,L,QSA]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 
