#ss_analytics_trigger{
  position: absolute;
  z-index: 999;
  left: 50%;
  bottom: 0;
  width: 80px;
  height: 80px;
  background: rgba(white, 0.1);
  cursor: pointer;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  &_arrow{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    .material-icons{
      @extend .cxy;
      color: white;
      line-height: 1;
      padding-top: 8px;
      font-size: 2rem;
    }
  }
}

.ss_analytics{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #1a1a1a;
  z-index: 9999999;
  &_close{
    position: absolute;
    right: 2rem;
    cursor: pointer;
    z-index: 10;
    box-sizing: border-box;
    padding: 0.5rem 0.5rem;
    .material-icons{
      color: white;
      font-size: 2rem;
    }
  }
  &_container{
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 1rem 4rem 6rem;
    overflow-y: auto;
    &_group{
      width: 100%;
      margin: 3rem 0;
      &_scatter{
        width: 80%;
        height: 180px;
        margin: 0.5rem auto;
      }
      &_h1{
        font-size: 2rem;
        color: white;
        font-weight: 300;
        margin-bottom: 1.5rem;
        text-align: center;
        position: relative;
      }
      &_montos{
        width: 100%;
        @extend .flex;
        justify-content: center;
        &_group{
          box-sizing: border-box;
          padding: 0 1.2rem;
          color: white;
          text-align: center;
          &_m{
            font-size: 1.7rem;
            font-weight: 300;
          }
          &_l{
            strong{
              color: #A8FF00;
            }
          }
        }
      }
      &_charts_group{
        width: 100%;
        @extend .flex;
        flex-wrap: wrap;
        .ss_analytics_chart_binder{
          width: 25%;
          min-width: 100px;
          box-sizing: border-box;
          padding: 0.5rem;
          .ss_analytics_chart{
            width: 100%;
            .recharts-wrapper{
              margin: 0 auto;
              display: block;
            }
          }
          &_info{
            width: 100%;
            text-align: center;
            line-height: 1;
            color: white;
            margin-top: 0.25rem;
            box-sizing: border-box;
            padding: 0 0.5rem;
            strong{
              color: #a7c5fa;
            }
            span{
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
