.ss_analytics{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #212121;
  z-index: 9999999;
  &_close{
    position: absolute;
    right: 2.5rem;
    cursor: pointer;
    z-index: 10;
    box-sizing: border-box;
    padding: 1.5rem 0.5rem;
    .material-icons{
      color: white;
      font-size: 2rem;
    }
  }
  &_container{
    width: 100%;
    box-sizing: border-box;
    padding: 3rem 4rem;
    @extend .cxy;
    z-index: 2;
    max-height: 100%;
    overflow-y: auto;
    max-width: 1000px;
    &_title{
      width: 100%;
      text-align: center;
      font-size: 1.4rem;
      color: #f6f6f6;
      font-weight: 300;
      line-height: 1.18;
      text-transform: uppercase;
      margin-bottom: 3rem;
      strong{
        font-weight: 600;
        &::before{
          content: '/';
          color: $main;
          font-weight: 600;
          margin-right: 0.25rem;
        }
      }

    }
  }
  .ss_analytics_dbsinfo{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    color: #f6f6f6;
    font-weight: 300;
    text-transform: uppercase;
    &::before{
      content: '/';
      color: $main;
      font-weight: 600;
      margin-right: 0.5rem;
    }
  }
  .ss_analytics_montos{
    width: 100%;
    margin-top: 4rem;
    &_title{
      font-size: 0.9rem;
      text-align: center;
      color: #f0f0f0;
      font-weight: 600;
      text-transform: uppercase;
      @extend .flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      margin-bottom: 2rem;
      &::before, &::after{
        content: '';
        display: block;
        width: 10%;
        margin: 0 1rem;
        height: 2px;
        background: rgba(white, 0.1);
      }
    }
    .ssa_top10_canvas{
      width: 45%;
      margin: 1rem auto;
      canvas{
        width: 100%;
      }
    }
    &_row{
      width: 90%;
      @extend .flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0.5rem auto 0;

      .ss_analytics_pie{
        width: 25%;
        box-sizing: border-box;
        padding: 0.5rem;
        &_chart{
          width: 100%;
          box-sizing: border-box;
          padding: 0.5rem 0.2rem;
          position: relative;
          &_icon{
            @extend .cxy;
            .material-icons{
              line-height: 1;
              display: block;
              @extend .cxy;
              color: #525050;
            }
          }
          canvas{
            width: 100%;
            position: relative;
            z-index: 2;
          }
        }
        &_info{
          width: 85%;
          font-size: 0.8rem;
          @extend .flex;
          flex-direction: column;
          justify-content: center;
          line-height: 1.2;
          margin: 0.5rem  0 0;
          text-transform: uppercase;
          margin-left: 15%;
          &_a{
            width: 100%;
            color: #f6f6f6;
            font-weight: 500;
            &::before{
              content: '/';
              color: $main;
              font-weight: 600;
              margin-right: 0.2rem;
            }
          }
          &_b{
            width: 100%;
            color: #888;
            font-weight: 500;
            margin-top: 0.25rem;
            text-align: left;
          }
        }
      }
      .ss_analytics_montos_monto{
        @extend .flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 2rem;
        &_m, &_t{
          width: 100%;
        }
        &_m{
          font-size: 1.4rem;
          font-weight: 600;
          color: #f6f6f6;
        }
        &_t{
          text-align: left;;
          color: white;
          margin-top: 0.05rem;
          font-size: 0.8rem;
          text-transform: uppercase;
          &::before{
            content: '/';
            color: $main;
            font-weight: bolder;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .ss_analytics_choose{
    width: 100%;
    margin-top: 0;
    .ss_analytics_montos_title{
      margin-bottom: 1rem;
    }
    &_tr{
      width: 100%;
      @extend .flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9rem;
      .ssa_icon{
        @extend .flex;
        align-items: center;
        margin-right: 0.5rem;
        cursor: pointer;
        .material-icons{
          color: #555;
        }
      }
      .ssa_btns{
        @extend .flex;
        .ssa_btn{
          @extend .flex;
          box-sizing: border-box;
          padding: 0.3rem 2rem;
          align-items: center;
          color: #eee;
          cursor: pointer;
          font-weight: 600;
          text-transform: uppercase;
          border: 1px solid $main;
          transition: all 0.3s ease;
          box-shadow: 0 0 3px rgba($main, 0.8);
          background: #222;
          &:hover{
            background: #333;
          }
          &.ssa_inactive{
            color: #444;
            opacity: 0.7;
            border-color: #333;
            box-shadow: none;
          }
        }
      }
    }
  }
}
body.ss_showing_drawer{
  .ssa_top10_canvas{
    width: 70%!important;
  }
  .ss_analytics_choose{
    display: none;
  }
  .ss_analytics_montos_row{
    .ss_analytics_montos_monto{
      width: 100%;
      margin: 0.5rem 0;
      text-align: center;
    }
    .ss_analytics_montos_monto_t{
      text-align: center;
    }
  }
  .ss_analytics_dbsinfo{
    &::before{
      display: none!important;
    }
    strong{
      display: block;

    }
  }
  .ss_analytics_pie{
    width: 50%!important;
  }
}
