.nodes_controls{
  width: 200px;
  position: absolute;
  top: 50%;
  transform: translate(100%, -50%);
  right: 0;
  z-index: 9;
  height: calc(100% - 20px);
  transition: all 0.25s ease;
  &.nodes_controls_showing{
    transform: translateY(-50%);
    .nodes_controls_button{
      border-right: none;
    }
  }
  &_container{
    @extend .cy;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    @extend .flex;
    max-height: 100%;
    border: 2px solid #333;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &_button{
    background: #333;
    cursor: pointer;
    @extend .flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.25rem;
    position: absolute;
    top: 50%;
    z-index: 3;
    border: 1px solid $main;
    border-right: none;
    transform: translate(-100%, -50%);
    .material-icons, div{
      color: #f6f6f6;
    }
    .material-icons{
      font-size: 1.2rem;
    }
    div{
      font-size: 0.8rem;
      box-sizing: border-box;
      padding-left: 0.5rem;
      font-weight: 600;
    }
    &:hover{
      background: #333;
    }
  }
}

.ss_control_group{
  background: #2a2a2a;
  box-sizing: border-box;
  border-bottom: 2px solid $main;
  width: 100%;
  &:last-child{
    border-bottom: none;
  }
  &.ss_control_node_filter{
    width: 100%;
    .ss_ctr_br{
      width: 100%;
      @extend .flex;
      box-sizing: border-box;
      padding-top: 0.5rem;
      margin-top: 0.75rem;
      border-top: 1px solid rgba(white, 0.1);
      box-sizing: border-box;
      padding: 0.75rem 0.5rem 0.25rem;
      cursor: pointer;
      &.ss_ctr_br_buttons{
        cursor: default;
        .ss_ctr_br_buttons_btn{
          margin: 0 0 0.15rem;
          box-sizing: border-box;
          padding: 0.3rem 0.4rem 0.2rem;
          border: 2px solid $main;
          cursor: pointer;
          &:hover{
            background: rgba($main, 0.2);
          }
        }
      }

      .material-icons{
        color: red;
        line-height: 1;
        font-size: 0.75rem;
        margin-right: 0.25rem;
      }
      div{
        font-size: 0.7rem;
        line-height: 1.1;
        font-weight: 600;
        color: white;
      }
    }

  }
  .ss_control_group_container{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.25rem;
    &_title{
      font-size: 0.75rem;
      color: white;
      line-height: 1;
      font-weight: 300;
      box-sizing: border-box;
      padding: 0.5rem 0.35rem 0.15rem;
      @extend .flex;
      pointer-events: none;
      text-transform: uppercase;
      align-items: center;
      div{
        flex: 1;
        &::before{
          content: '/';
          color: $main;
          margin-right: 0.25rem;
          font-weight: 600;
        }
      }
      .material-icons{
        font-size: 0.9rem;
        cursor: pointer;
        box-sizing: border-box;
        display: none;
        &:hover{
          opacity: 0.8;
        }
      }
    }
    &_extracontrols{
      padding-bottom: 0.75rem;
      margin-top: 0.5rem;
      margin-bottom: 0rem;
      .ss_control_extra{
        width: 100%;
        box-sizing: border-box;
        padding: 0.3rem 0.75rem;
        position: relative;
        &_warning{
          @extend .flex;
          align-items: center;
          margin-top: 0.35rem;
          line-height: 1.1;
          color: #f6f6f6;
          *, &{
            font-size: 0.55rem;
            font-weight: 500;
          }
          .material-icons{
            color: yellow;
            margin-right: 0.3rem;
          }
        }
        label{
          font-size: 0.7rem;
          font-weight: 400;
          color: #f6f6f6;
          display: block;
          line-height: 1;
          margin-bottom: 0.25rem;
        }
        &_f{
          position: absolute;
          top: 1rem;
          right: 1.1rem;
          color: #acacac;
          pointer-events: none;
          .material-icons{
            font-size: 0.9rem;
            line-height: 1;
            color: #bbb;
            transform: translateY(8px);
          }
        }
        select{
          appearance: none;
          display: block;
          width: 100%;
          box-sizing: border-box;
          padding: 0.25rem 1.2rem 0.25rem 0.35rem;
          background-color: #222;
          font-size: 0.65rem;
          font-weight: 600;
          border: 0;
          margin-top: 0.1rem;
          border-radius: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #acacac;
          border: 1px solid $main;
          cursor: pointer!important;
          &:focus{
            outline: 0;
          }
        }
      }
    }
    &_dbs{
      width: 100%;
      box-sizing: border-box;
      padding: 0.15rem 0.75rem 0;
      max-height: 120px;
      overflow: hidden;
      overflow-y: auto;
      .ss_db{
        width: 100%;
        @extend .flex;
        box-sizing: border-box;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0.15rem 0;
        padding-bottom: 0.25rem;
        border-bottom: 1px solid rgba(white, 0.1);
        cursor: pointer;
        &_toggle{
          height: 0%;
          padding: 0.25rem;
          cursor: pointer;
          &:hover{
            opacity: 0.8;
          }
          .material-icons{
            color: white;
            font-size: 0.8rem;
          }
        }
        &_info{
          flex: 1;
          height: 0%;
          max-width: 85%;
          &_name{
            font-size: 0.75rem;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            color: white;
          }
          &_empresas{
            font-size: 0.5rem;
            color: white;
            text-transform: uppercase;
            font-weight: 400;
            color: #bbb;
            strong{
              font-weight: 400;
            }
          }
        }
        &.ss_db_hidden{
          opacity: 0.4;
        }
      }
    }
    &_btns{
      width: 100%;
      @extend .flex;
      box-sizing: border-box;
      padding: 0.25rem 0.5rem 0.15rem;
      font-size: 0.65rem;
      margin-top: 0.5rem;
      margin-bottom: 0.75rem;
      &_btn{
        box-sizing: border-box;
        padding: 0.25rem 0.35rem;
        background: #222;
        text-transform: uppercase;
        font-weight: 600;
        border: 1px solid $main;
        color: white;
        margin-right: 0.35rem;
        cursor: pointer;
        &:hover{
          background-color: $main;
        }
        &[disabled]{
          opacity: 0.25;
          pointer-events: none;
        }
      }
    }
    &_switches{
      width: 100%;
      .ss_control_group_container_switch{
        @extend .flex;
        box-sizing: border-box;
        padding: 0.35rem 0.5rem;
        &_btn{
          position: relative;
          &:not(:last-child){
            margin-right: 0.35rem;
          }
          input{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            cursor: pointer;
            opacity: 0;
          }
          &_c{
            position: relative;
            box-sizing: border-box;
            padding: 0.25rem 0.35rem;
            background: #222;
            border: 1px solid $main;
            text-transform: uppercase;
            font-size: 0.6rem;
            font-weight: 600;
            color: white;
            opacity: 0.4;
          }
          input{
            &:checked ~ .ss_control_group_container_switch_btn_c{
              opacity: 1;
            }
          }
        }
      }


      .ss_ctr_ch{
        width: 100%;
        position: relative;
        box-sizing: border-box;
        padding: 0.3rem 0.5rem;
        margin: 0.25rem 0;
        &:hover{
          opacity: 0.7;
        }
        input{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          z-index: 2;
          left: 0;
          opacity: 0;
          cursor: pointer;
        }
        &_tds{
          font-size: 0.7rem;
          @extend .flex;
          line-height: 1;
          color: white;
          font-weight: 600;
          align-items: center;
        }
        &_td{
          &_ball{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 5px;
            position: relative;
          }
        }

        input:not(:checked) ~ .ss_ctr_ch_tds{
          opacity: 0.2;
        }
        &[data-type="instancia"]{
          .ss_ctr_ch_td_ball{
            box-sizing: border-box;
            overflow: hidden;
            transform: rotate(45deg);
            position: relative;
            &_helper{
              width: 75%;
              height: 75%;
              @extend .cxy;
              z-index: 4;
              border-radius: 50%;
            }
            &::after{
              content: '';
              display: block;
              width: 100%;
              height: 50%;
              position: absolute;
              top: 0;
              left: 0;
              background: #FF0054;
              box-sizing: border-box;
            }
            &::before{
              content: '';
              display: block;
              width: 100%;
              height: 50%;
              position: absolute;
              bottom: 0;
              left: 0;
              box-sizing: border-box;
              background: $main;
              z-index: 2;
            }
          }
        }
      }
    }
    &_switch{
      width: 100%;
      @extend .flex;
      align-items: center;
      margin-top: 0.5rem;
      label{
        display: block;
        flex: 1;
        line-height: 1;
        text-align: center;
        color: white;
        font-size: 0.65rem;
        font-weight: 600;
      }
    }
    &_tr{
      position: relative;
      box-sizing:border-box;
      input{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
      }
      &_info{
        font-size: 0.7rem;
        color: white;
        font-weight: 600;
        line-height: 1;
        margin: 0.25rem 0;
        box-sizing: border-box;
        padding: 0.5rem 0.5rem;
        background: #1f1f1f;
        box-shadow: 2px 2px 4px rgba(black, 0.1);
      }
      input:checked ~ .ss_control_group_container_tr_info{
        background: #333366;
      }
    }
  }
}
