.nodes_controls{
  width: 220px;
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: 9;
  max-height: 100%;
  &_container{
    max-height: 690px;
    overflow: hidden;
    overflow-y: auto;
  }
  &_button{
    width: 100%;
    background: #2a2a2a;
    cursor: pointer;
    @extend .flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;
    .material-icons, div{
      color: white;
    }
    .material-icons{
      font-size: 1rem;
    }
    div{
      font-size: 0.8rem;
      box-sizing: border-box;
      padding-left: 0.5rem;
      font-weight: 600;
    }
    &:hover{
      background: #333;
    }
  }
}

.ss_control_group{
  background: #2a2a2a;
  box-sizing: border-box;
  margin: 0.5rem 0;
  &:last-child{
    margin-bottom: 0;
  }
  &.ss_control_node_filter{
    width: 100%;
  }
  .ss_control_group_container{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.25rem;
    &_title{
      font-size: 0.85rem;
      color: white;
      line-height: 1;
      font-weight: 600;
      box-sizing: border-box;
      padding: 0.25rem 0.5rem;
      @extend .flex;
      align-items: center;
      div{
        flex: 1;
      }
      .material-icons{
        font-size: 0.9rem;
        cursor: pointer;
        box-sizing: border-box;
        display: block;
        &:hover{
          opacity: 0.8;
        }
      }
    }
    &_extracontrols{
      padding-bottom: 0.75rem;
      .ss_control_extra{
        width: 100%;
        box-sizing: border-box;
        padding: 0.15rem 0.75rem;
        &_warning{
          @extend .flex;
          align-items: center;
          color: yellow;
          margin-top: 0.4rem;
          line-height: 1.1;
          *, &{
            font-size: 0.6rem;
            font-weight: 600;
          }
          .material-icons{
            margin-right: 0.3rem;
          }
        }
        label{
          font-size: 0.7rem;
          font-weight: 600;
          color: white;
        }
        select{
          appearance: none;
          display: block;
          width: 90%;
          box-sizing: border-box;
          padding: 0.25rem;
          background-color: #444;
          font-size: 0.7rem;
          font-weight: 600;
          border: 0;
          margin-top: 0.15rem;
          border-radius: 0;
          color: white;
          cursor: pointer!important;
          &:focus{
            outline: 0;
          }
        }
      }
    }
    &_dbs{
      width: 100%;
      box-sizing: border-box;
      padding: 0.15rem 0.75rem 0.25rem;
      max-height: 150px;
      overflow: hidden;
      overflow-y: auto;
      .ss_db{
        width: 100%;
        @extend .flex;
        background: rgba(white, 0.1);
        box-sizing: border-box;
        padding: 0.25rem;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0.25rem 0;
        cursor: pointer;
        &_toggle{
          height: 0%;
          padding: 0.25rem;
          cursor: pointer;
          &:hover{
            opacity: 0.8;
          }
          .material-icons{
            color: white;
            font-size: 1rem;
          }
        }
        &_info{
          flex: 1;
          height: 0%;
          max-width: 85%;
          &_name{
            font-size: 0.8rem;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            color: white;
          }
          &_empresas{
            font-size: 0.6rem;
            color: white;
            strong{
              &::before{
                content: '/';
                color: $main;
                margin-right: 5px;
              }
            }
          }
        }
        &.ss_db_hidden{
          .ss_db_info{
            opacity: 0.5;
          }
        }
      }
    }
    &_btns{
      width: 100%;
      @extend .flex;
      box-sizing: border-box;
      padding: 0.25rem 0.5rem 0.15rem;
      font-size: 0.65rem;
      &_btn{
        box-sizing: border-box;
        padding: 0.25rem 0.35rem;
        background: #333;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
        margin-right: 0.35rem;
        cursor: pointer;
        &:hover{
          background-color: $main;
        }
        &[disabled]{
          opacity: 0.25;
          pointer-events: none;
        }
      }
    }
    &_switches{
      width: 100%;
      .ss_ctr_ch{
        width: 100%;
        position: relative;
        box-sizing: border-box;
        padding: 0.35rem 0.5rem;
        margin: 0.25rem 0;
        input{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          z-index: 2;
          left: 0;
          opacity: 0;
          cursor: pointer;
        }
        &_tds{
          font-size: 0.75rem;
          @extend .flex;
          line-height: 1;
          color: white;
          font-weight: 600;
          align-items: center;
        }
        &_td{
          &_ball{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px;
          }
        }

        input:not(:checked) ~ .ss_ctr_ch_tds{
          opacity: 0.2;
        }

      }
    }
    &_switch{
      width: 100%;
      @extend .flex;
      align-items: center;
      margin-top: 0.5rem;
      label{
        display: block;
        flex: 1;
        line-height: 1;
        text-align: center;
        color: white;
        font-size: 0.65rem;
        font-weight: 600;
      }
    }
    &_tr{
      position: relative;
      box-sizing:border-box;
      input{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
      }
      &_info{
        font-size: 0.7rem;
        color: white;
        font-weight: 600;
        line-height: 1;
        margin: 0.25rem 0;
        box-sizing: border-box;
        padding: 0.5rem 0.5rem;
        background: #1f1f1f;
        box-shadow: 2px 2px 4px rgba(black, 0.1);
      }
      input:checked ~ .ss_control_group_container_tr_info{
        background: #333366;
      }
    }
  }
}
