.db_viz{
  flex: 1;
  margin: 0;
  height: 100%;
  z-index: 9;
  right: 0;
  overflow: hidden;
  position: relative;
  &_info_coincidencias{
    &::before{
      content: '/';
      color: $main!important;
      margin-right: 5px;
      font-weight: 600;
    }
  }
  &_tooltip{
    position: absolute;
    z-index: 99;
    background: #303030;
    pointer-events: none;
    transform: translate(-50%, -110%);
    max-width: 300px;
    min-width: 200px;
    padding-bottom: 0.5rem;
    color: #F6F6F6;
    &_name{
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.1;
      box-sizing: border-box;
      padding: 0.75rem 0.5rem 0.5rem;
      position: relative;
      margin-bottom: 0.5rem;
      &::after{
        content: '';
        display: block;
        width: 75%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0.5rem;
        background: rgba(white, 0.1);
      }
    }
    &_type_name{
      font-size: 0.7rem;
      color: #111;
      box-sizing: border-box;
      padding: 0.25rem 0.5rem 0.25rem;
      text-transform: uppercase;
      font-weight: 600;
    }
    &_links, &_monto{
      font-size: 0.65rem;
      box-sizing: border-box;
      padding: 0.15rem 0.5rem;
      &::before{
        content: '/';
        display: inline-block;
        margin-right: 0.15rem;
        color: #f6f6f6;
        font-weight: 400;
      }
    }
    &_info{
      font-size: 0.65rem;
      box-sizing: border-box;
      padding: 0.15rem 0.5rem;
      @extend .flex;
      align-items: center;
      .material-icons{
        font-size: 0.65rem;
        line-height: 1;
        margin-right: 0.15rem;
      }

    }
    &_click{
      font-size: 0.6rem;
      font-weight: 600;
      box-sizing: border-box;
      padding: 0.25rem 0.5rem 0.15rem;
      margin-top: 0.15rem;
      color: #aaa;
    }
  }
  &_info{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 0.5rem 2.5rem;
    left: 0;
    z-index: 9;
    font-size: 0.9rem;
    color: white;
  }
  &_nodes{
    width: 100%;
    height: 100%;
    position: relative;
    background: #222;
    .db_viz_glow_indicator{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      z-index: 1;
      &.ss_active{
        animation: loader_glow 1s ease-in;
      }
      @keyframes loader_glow{
        from{
          box-shadow: inset 0 0 600px rgba($main, 0.15);
        }
        to{
          box-shadow: inset 0 0 0 rgba($main, 0);
        }
      }
    }
    #db_viz_nodes_controls{
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding: 0.5rem 1rem;
      z-index: 3;
      // background: rgba(white, 0.05);
      @extend .flex;
      flex-direction: column;
      button{
        margin: 0.5rem 0;
      }
    }
    svg{
      position: relative;
      z-index: 2;
    }
    .node, .nodes_label{
      cursor: grab;
      &:active{
        cursor: grabbing;
      }
    }
  }
}
body.ss_showing_drawer{
  .db_viz{
    flex: auto;
    width: 30%;
    margin-left: 30%;
  }
  .ss_dbbuilder_sidebar_collapse{
    display: none!important;

  }
}

.ss_doi_window{
  width: 250px;
  margin-bottom: 1rem;
  background: #2a2a2a;
  border: 2px solid #333;
  overflow: hidden;
  &_type{
    font-weight: 600;
    font-size: 0.75rem;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
  }
  &_name{
    font-weight: 100;
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem 0.5rem;
    font-size: 1rem;
    line-height: 1.1;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    &::before{
      content: '/';
      color: $main;
      font-weight: 600;
      margin-right: 0.25rem;
    }
    &::after{
      content: '';
      display: block;
      width: 50%;
      height: 1px;
      background: rgba(white, 0.25);
      position: absolute;
      bottom: 0;
      left: 0.5rem;
    }
    &:hover{
      white-space: normal;
    }
  }
  &_fields_info{
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 0.75rem;
    border-top: 2px solid rgba(white, 0.1);
  }

  &_fields{
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    &_field{
      width: 100%;
      box-sizing: border-box;
      padding: 0.45rem 0.5rem;
      font-size: 0.65rem;
      position: relative;
      cursor: pointer;
      &:hover{
        background: rgba(white, 0.04);
      }
      &:not(:last-child){
        &::after{
          content: '';
          display: block;
          width: 50%;
          height: 1px;
          background: rgba(white, 0.1);
          position: absolute;
          bottom: 0;
          left: 0.5rem;
        }
      }
      &_group{
        width: 100%;
        text-transform: uppercase;
        color: #eee;
        font-weight: 600;
        font-size: 0.7em;
      }
      &_dbinfo{
        width: 100%;
        > div{
          @extend .flex;
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          align-items: center;
          box-sizing: border-box;
          padding: 0.025rem 0;
          font-size: 0.9em;
          .material-icons{
            font-size: 1em;
            line-height: 1em;
            margin-right: 0.25em;
            color: #bbb;
            display: none;
          }
          &:last-child{
            color: #999;
            margin-top: 0.15rem;
            font-size: 0.6rem;
          }
        }
      }
      &_name{
        font-size: 1.2em;
        margin: 0.25rem 0;
        line-height: 1;
      }
    }

  }
  .ss_doi_window_controls{
    width: 100%;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    @extend .flex;
    align-items: center;
    position: relative;
    z-index: 2;
    &_td{
      height: 0%;
      &.ss_doi_window_controls_td_level{
        flex: 1;
        @extend .flex;
        align-items: center;
        font-size: 0.9rem;
        color: #f6f6f6;
        strong{
          margin-left: 0.35rem;
        }
        .ss_doi_levels{
          margin-left: 0.3rem;
          @extend .flex;
          .material-icons{
            font-size: 1rem;
            display: block;
            padding: 0.25rem 0.1rem;
            cursor: pointer;
            color: $main;
            &[disabled]{
              opacity: 0.2;
              pointer-events: none;
            }
            &:hover{
              opacity: 0.5;
              color: $main;
            }
          }
        }

      }
      &_min{
        cursor: pointer;
        padding-left: 0.35rem;
        .material-icons{
          font-size: 1rem;
          line-height: 1rem;
        }
        &:hover{
          opacity: 0.75;
        }
      }
    }
  }
  &.ss_minimized{
    .ss_doi_window_type{
      padding: 0.25rem 0.5rem;
      font-size: 0.8rem;
      border-width: 1px;
      display: none;
    }
    .ss_doi_window_name{
      font-size: 0.7rem;
      font-weight: 600;
      padding: 0.65rem 0.5rem;
      white-space: normal;
      line-height: 1.1;
      border-bottom: none;
      border-top: 3px solid;
      color: white;
      &::after{
        display: none;
      }
    }
  }
}
