.db_viz{
  flex: 1;
  margin: 0;
  height: 100%;
  z-index: 9;
  right: 0;
  overflow: hidden;
  position: relative;
  &_tooltip{
    position: absolute;
    z-index: 99;
    background: #222;
    pointer-events: none;
    transform: translate(-50%, -120%);
    border-top: 2px solid transparent;
    max-width: 350px;
    padding-bottom: 0.25rem;
    &_name{
      font-size: 0.85rem;
      color: white;
      box-sizing: border-box;
      padding: 0.25rem 0.5rem;
    }
    &_type_name{
      font-size: 0.65rem;
      color: white;
      box-sizing: border-box;
      padding: 0.5rem 0.5rem 0;
      text-transform: uppercase;
      font-weight: 600;
    }
    &_links, &_monto{
      font-size: 0.65rem;
      color: white;
      box-sizing: border-box;
      padding: 0.25rem 0.5rem;
    }
  }
  &_info{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 0.5rem 2.5rem;
    left: 0;
    z-index: 9;
    font-size: 0.9rem;
    color: white;
  }
  &_nodes{
    width: 100%;
    height: 100%;
    position: relative;
    background: #0a0a0a;
    .db_viz_glow_indicator{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      z-index: 1;
      &.ss_active{
        animation: loader_glow 1s ease-in;
      }
      @keyframes loader_glow{
        from{
          box-shadow: inset 0 0 600px rgba($main, 0.1);
        }
        to{
          box-shadow: inset 0 0 0 rgba($main, 0);
        }
      }
    }
    #db_viz_nodes_controls{
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding: 0.5rem 1rem;
      z-index: 3;
      // background: rgba(white, 0.05);
      @extend .flex;
      flex-direction: column;
      button{
        margin: 0.5rem 0;
      }
    }
    svg{
      position: relative;
      z-index: 2;
    }
    .node, .nodes_label{
      cursor: grab;
      &:active{
        cursor: grabbing;
      }
    }
  }
}
body.ss_showing_drawer{
  .db_viz{
    flex: auto;
    width: 30%;
    margin-left: 30%;
  }
  .ss_dbbuilder_sidebar_collapse{
    display: none!important;

  }
}

.ss_doi_window{
  width: 280px;
  margin-bottom: 1rem;
  background: #111;
  box-shadow: 2px 2px 4px rgba(black, 0.1);
  &_type{
    font-weight: 600;
    border-bottom: 2px solid;
    border-top: 2px solid;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
  }
  &_name{
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1.1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 2px solid rgba(white, 0.1);
    &:hover{
      white-space: normal;
    }
  }
  &_fields_info{
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 0.75rem;
    border-top: 2px solid rgba(white, 0.1);
  }

  &_fields{
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    &_field{
      width: 100%;
      box-sizing: border-box;
      padding: 0.25rem 0.5rem;
      font-size: 0.8rem;
      cursor: pointer;
      &:hover{
        background: rgba(white, 0.1);
      }
      &:not(:last-child){
        border-bottom: 1px solid rgba(white, 0.1);
      }
      &_group{
        width: 100%;
        text-transform: uppercase;
        color: rgb(242, 216, 138);
        font-weight: 600;
        font-size: 0.8em;
      }
      &_dbinfo{
        width: 100%;
        > div{
          @extend .flex;
          white-space: nowrap;
          text-overflow: ellipsis;
          align-items: center;
          overflow: hidden;
          box-sizing: border-box;
          padding: 0.15rem 0;
          .material-icons{
            font-size: 1em;
            line-height: 1em;
            margin-right: 0.25em;
            color: rgb(141, 177, 247);
          }
        }
      }
      &_name{
        font-size: 1.2em;
        margin: 0.25rem 0;
      }
    }

  }
  .ss_doi_window_controls{
    width: 100%;
    box-sizing: border-box;
    padding: 0.15rem 0.5rem;
    background: #111;
    @extend .flex;
    align-items: center;
    &_td{
      height: 0%;
      &.ss_doi_window_controls_td_level{
        flex: 1;
        @extend .flex;
        align-items: center;
        font-size: 0.9rem;
        strong{
          margin-left: 0.5rem;
        }
        .ss_doi_levels{
          margin-left: 0.5rem;
          @extend .flex;
          .material-icons{
            font-size: 1rem;
            display: block;
            padding: 0.25rem 0.15rem;
            cursor: pointer;
            &[disabled]{
              opacity: 0.2;
              pointer-events: none;
            }
            &:hover{
              color: $main;
            }
          }
        }

      }
      &_min{
        cursor: pointer;
        .material-icons{
          font-size: 0.95rem;
          line-height: 0.95rem;
        }
        &:hover{
          opacity: 0.75;
        }
      }
    }
  }
  &.ss_minimized{
    .ss_doi_window_type{
      padding: 0.25rem 0.5rem;
      font-size: 0.8rem;
      border-width: 1px;
      display: none;
    }
    .ss_doi_window_name{
      font-size: 0.7rem;
      font-weight: 600;
      padding: 0.25rem 0.5rem;
      white-space: normal;
      line-height: 1.1;
      border-bottom: none;
    }
  }
}
