.db_viz{
  flex: 1;
  margin: 0;
  height: 100%;
  z-index: 9;
  right: 0;
  overflow-y: auto;
  &_nodes{
    width: 100%;
    height: 100%;
    position: relative;
    background: #0f0f0f;
    .node, .nodes_label{
      cursor: grab;
      &:active{
        cursor: grabbing;
      }
    }
  }
}
