.db_search_nodes{
  position: fixed;
  top: 13px;
  right: calc(4em + 178px);
  z-index: 99;
  width: 250px;
  &_results{
    width: 100%;
    background: #2a2a2a;
    .db_search_nodes_results_c{
      width: 100%;
      border: 1px solid #444;
      border-top: 0;
      box-sizing: border-box;
      &_r{
        width: 100%;
        max-height: 400px;
        overflow-y: auto;
        .ss_search_result{
          width: 100%;
          box-sizing: border-box;
          line-height: 1.1;
          font-size: 0.65rem;
          color: white;
          cursor: pointer;
          padding: 0.55rem;
          position: relative;
          border-bottom: 1px solid rgba(white, 0.05);
          &_name{
            font-weight: 500;
          }
          &_type{
            font-weight: 300;
            margin-bottom: 0.15rem;
            font-size: 0.8em;
            box-sizing: border-box;
            @extend .flex;
            text-transform: uppercase;
            align-items: center;
            span{
              font-weight: 800;
              margin-right: 3px;
            }
            div{
              height: 0%;
              font-weight: 300;
            }
          }
          &:hover, &.ss_selected{
            background: rgba(black, 0.2);
          }
        }
      }
      &_count{
        width: 100%;
        box-sizing: border-box;
        padding: 0.25rem 0.55rem;
        font-weight: 400;
        font-size: 0.7rem;
        color: white;
        border-top: 1px solid #444;
        background: rgba(black, 0.1);
      }
    }
  }
  &_input{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    .material-icons{
      @extend .cy;
      left: 0.45rem;
      color: #444;
      z-index: 2;
      pointer-events: none;
      line-height: 1;
      font-size: 18px;
    }
    input{
      width: 100%;
      display: block;
      border: 0;
      background: transparent;
      padding: 0.25rem 0.25rem 0.25rem 1.9rem;
      color: white;
      font-family: $f;
      font-size: 0.8em;
      border: 1px solid #444;
      box-sizing: border-box;
      &:focus{
        outline: 0;
        background: rgba(white, 0.075);
      }
    }
  }
}
