.project_buttons{
  @extend .cx;
  bottom: 0;
  z-index: 99;
  @extend .flex;
  transform: translateX(calc(-50%));
  border: 1px solid #444;
  border-bottom: none;
  &_button{
    background: #2c2c2c;
    @extend .flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.4rem 0.7rem;
    cursor: pointer;
    position: relative;
    &:not(:last-child){
      &::after{
        content: '';
        @extend .cy;
        height: 70%;
        width: 1px;
        right: 0;
        background: #555;
      }
    }
    &:hover{
      background: #333;
    }
    .material-icons{
      color: $main;
      font-size: 1rem;
      margin-right: 0.4rem;
    }
    div{
      color: white;
      font-weight: 500;
      font-size: 0.85rem;
    }
  }
}
body.ss_showing_drawer{
  .project_buttons_button{
    margin: 0;
    div{
      display: none;
    }
    .material-icons{
      margin-right: 0;
    }
  }
}
.ss_dbbuilder_front{
  width: 100%;
  height: 100vh;
  min-height: 750px;
  overflow-y: auto;
  background: $blue url('../static/texturefull.png') no-repeat center center;
  background-size: cover;
  position: relative;
  .ss_db_choose{
    width: 850px;
    @extend .cxy;
    @extend .flex;
    flex-wrap: wrap;
    &_decorator{
      width: 350px;
      margin: 0 auto 2.5rem;
      &_logo{
        width: 75%;
        margin: 0 auto 0.5rem;
        img{
          width: 100%;
        }
      }
      &_slogan{
        font-size: 1rem;
        text-transform: uppercase;
        line-height: 1.3;
        text-align: center;
        color: #f6f6f6;
        font-weight: 300;
        position: relative;
        strong{
          font-weight: 600;
        }
        span{
          &::before{
            content: '/';
            color: $main;
            margin-right: 0.1rem;
            font-weight: 600;
            display: inline-block;
          }
        }
      }
    }
    &_lang{
      width: 100%;
      @extend .flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      &_label{
        color: rgba(#f6f6f6, 0.8);
        font-size: 0.9rem;
      }
      &_select{
        width: 200px;
        position: relative;
        &_arr{
          @extend .cy;
          right: 5px;
          z-index: 2;
          pointer-events: none;
          color: white;
          height: 100%;
          width: 20px;
          margin-top: 5px;
          .material-icons{
            @extend .cxy;
            line-height: 1;

          }
        }
        select{
          display: block;
          width: 100%;
          appearance: textfield;
          padding: 0.5rem 0.75rem;
          box-sizing: border-box;
          text-align: center;
          background: $main;
          border: 0;
          cursor: pointer;
          border-radius: 0;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 0.8rem;
          color: white;
          margin-top: 0.5rem;
          position: relative;
          box-shadow: 0 0 5px rgba($main, 1);
          &:focus{
            outline: 0;
            box-shadow: 0 0 4px rgba($main, 1);
          }
          option{
            text-align: center;
            appearance: textfield;
          }
        }
      }
    }
    &_td{
      flex: 1;
      box-sizing: border-box;
      margin: 0 1.5rem;
      @extend .flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      cursor: pointer;
      &::after{
        content: '';
        display: block;
        width: 100%;
        padding-top: 170%;
      }
      &_c{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid rgba(white, 0.3);
        background: no-repeat center center;
        background-size: cover;
        &::after{
          content: '';
          display: block;
          width: 100%;
          height: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgba(#262d34, 0.5);
          z-index: 1;
          transition: all 0.25s ease-out;
        }
        &_l{
          width: 2px;
          height: calc(100% + 4px);
          position:  absolute;
          top: 0;
          left: 0;
          transform: translate(-100%, -2px);
          background: $main;
          z-index: 5;
          box-shadow: 0 0 8px rgba($main, 0.8);
        }
        &_c{
          width: 12px;
          height: 12px;
          background: $main;
          box-shadow: 0 0 15px $main;
          position: absolute;
          top: 25%;
          left: 0;
          border-radius: 50%;
          transform: translate(-60%, -50%);
          transition: all 0.25s ease-out;
          z-index: 5;
        }
        &_d{

        }
        &:hover{
          &::after{
            height: 100%;
          }
          .ss_db_choose_td_c_c{
            top: 0;
          }
          .material-icons{
            text-shadow: 0 0 50px $main;
          }
        }
      }
      input{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 0;
        cursor: pointer;
      }
      .material-icons{
        font-size: 5rem;
        color: $main;
        @extend .cxy;
        text-shadow: 0 0 20px $main;
        display: block;
        padding: 1rem;
        transition: all 0.25s ease;
        z-index: 3;
      }
      &_label{
        width: 100%;
        color: white;
        font-size: 1.5rem;
        line-height: 1.3;
        font-weight: 300;
        position: absolute;
        box-sizing: border-box;
        padding: 1.5rem;
        text-transform: uppercase;
        top: 0;
        left: 0;
        z-index: 4;
        span{
          font-size: 0.8rem;
          line-height: 0.8rem;
          display: none;
          width: 100%;
          color: #f8f8f8;
          margin-top: 1rem;
        }
      }
    }
  }
}

#ss_fab_release{
  animation: ss_glow 1s linear infinite alternate;
}

@keyframes ss_glow{
  from{
    box-shadow: 0 0 2px #0072FF;
  }
  to{
    box-shadow: 0 0 10px #0072FF;
  }
}
