.db_empresa_edit{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: #2a2a2a;
  border-left: 2px solid #444;
  border-right: 2px solid #444;
  box-sizing: border-box;
  transform: translateX(100%);
  min-width: 426px;
  .db_empresa_edit_close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    .material-icons{
      color: white;
      font-size: 16px;
    }
    &:hover{
      .material-icons{
        color: $main;
      }
    }
  }
  &_container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @extend .flex;
    flex-direction: column;
    .db_empresa_name{
      width: 100%;
      box-sizing: border-box;
      padding: 0.25rem 1rem 1rem;
      font-size: 1.8rem;
      color: white;
      font-weight: 300;
      @extend .flex;
      margin-top: 2.5rem;
      align-items: center;
      &_errors{
        @extend .flex;
        display: none;
        &_td{
          @extend .flex;
          align-items: center;
          box-sizing: border-box;
          padding: 0.25rem;
          *{
            font-size: 0.8rem;
            font-weight: 500;
            line-height: 0.8rem;
          }
          .material-icons{
            margin-right: 0.25rem;
          }
        }
      }
      &_trash{
        cursor: pointer;
        padding-left: 1rem;
        position: relative;
        @extend .flex;
        align-items: center;
        justify-content: center;
        .material-icons{
          font-size: 16px;
          color: #ccc;
          &:hover{
            color: $main;
          }
        }
      }
      &_t{
        flex: 1;
        @extend .flex;
        align-items: center;
        box-sizing: border-box;
        padding-left: 1rem;
        .material-icons{
          opacity: 0.8;
          margin-right: 0.25rem;
        }
        div{
          flex: 1;
          font-size: 0.95rem;
          line-height: 1.2;
        }
      }
    }
    &_dbinfo{
      width: 100%;
      box-sizing: border-box;
      padding: 1rem;
      font-size: 0.95rem;
      display: none;
      align-items: center;
      .material-icons{
        font-size: 0.85rem;
        line-height: 0.85rem;
        margin-right: 0.5rem;
      }
      .ss_dbe_dbname{
        color: white;
        display: none;
      }
    }
  }
  .db_empresa_container{
    &_form{
      width: 100%;
      position: relative;
      box-sizing: border-box;
      flex: 1;
      overflow-y: auto;
      padding: 0 0.5rem 1rem;
      &_divider{
        width: 100%;
        height: 1px;
        background: white;
        margin: 1rem 0;
      }
      .MuiExpansionPanelDetails-root{
        padding: 5px 16px!important;
      }
      .MuiPaper-root{
        box-shadow: none;
        box-sizing: border-box;
        border: 1px solid #333!important;
        background: #252525!important;
        &::before{
          display: none;
        }
        &:not(:last-child){
          margin-bottom: 0.5rem;
        }
        .MuiExpansionPanelSummary-root{
          min-height: 30px;
          padding: 0 0.5rem;
        }
      }
      .db_empresa_container_group_rg{
        width: 100%;
        margin: 0.35rem 0;
        box-sizing: border-box;
        padding: 0 1rem;
        .material-icons{
          font-size: 0.8rem;
          line-height: 1;
          margin-right: 0.15rem;
          color: #777;
        }
        input:checked ~ {
          .rg_title_ch, .db_empresa_container_group_rg_checkboxes_ch_info{
            .material-icons{
              color: red;
            }
          }
        }
        .rg_ch_i_i, .rg_title_ch{
          @extend .flex;
          flex-direction: column;
          justify-content: center;
        }
        &_title{
          width: 100%;
          @extend .flex;
          position: relative;
          align-items: center;
          font-size: 0.8rem;
          font-weight: 300;
          input{
            width: 30%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            cursor: pointer;
            opacity: 0;
          }
        }
        .rg_title{
          @extend .flex;
          .dbef_n_tooltip{
            @extend .flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 0.35rem;
            .material-icons{
              color: $main;
              font-size: 0.8rem;
              transform: translateY(2px);
            }
          }
        }
        &_checkboxes{
          width: 100%;
          box-sizing: border-box;
          padding-left: 0.5rem;
          &_ch{
            width: 100%;
            position: relative;
            input{
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              cursor: pointer;
              opacity: 0;
            }
            &_info{
              width: 100%;
              @extend .flex;
              cursor: pointer;
              align-items: center;
              font-size: 0.8rem;
              margin-top: 0.3rem;
              .rg_ch_i_i{
                margin-right: 2px;
              }
            }
          }
        }
      }
      .dbef_n{
        width: 100%;
        @extend .flex;
        color: white;
        flex-shrink: 0;
        font-size: 0.9rem;
        box-sizing: border-box;
        padding-left: 1rem;
        align-items: baseline;
        &_n{
          font-weight: 300;
          @extend .flex;
          align-items: center;
          .dbef_n_tooltip{
            margin-left: 8px;
            transform: translateY(2px);
            .material-icons{
              font-size: 0.9rem;
              line-height: 1;
              color: $main;
            }
          }
          .dbef_n_n_badge{
            font-size: 0.5rem;
            margin-left: 0.5rem;
            padding: 0.2rem 0.5rem 0.1rem;
            border-radius: 1rem;
            background-color: $main;
            font-weight: 800;
            color: white;
          }
        }
        &_ctas{
          flex: 1;
          @extend .flex;
          justify-content: flex-end;
          padding-right: 1rem;
          align-items: center;
          &_c{
            font-size: 0.7rem;
            background: #222;
            padding: 0.25rem 0.4rem;
            cursor: pointer;
            max-height: 20px;
            transition: all 0.25s ease;
            text-transform: uppercase;
            border: 1px solid $main;
            &:hover{
              background: darken($main, 10%);
            }
          }
        }
      }
      .MuiPaper-root{
        border-radius: 0;
        background: $blue;
        .MuiExpansionPanelSummary-root{
          .material-icons{
            color: $main;
            transform: translateY(1px);
          }
        }
      }
    }
    &_group{
      width: 100%;
      box-sizing: border-box;
      &_title{
        width: 100%;
        font-size: 1.2rem;
        color: white;
        box-sizing: border-box;
      }
    }
  }
}

.db_empresa_container_group_form{
  width: 100%;
  @extend .flex;
  flex-wrap: wrap;
  &_empty{
    font-size: 0.8rem;
    color: #999;
    box-sizing: border-box;
    padding-left: 0.55rem;
    font-weight: 600;
    margin-bottom: 0.65rem;
  }
  .db_empresa_container_group_radios{
    width: 100%;
    @extend .flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 0.5rem;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
    &_title{
      width: 100%;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 500;
      margin-bottom: 0.25rem;
    }
    &_radio{
      position: relative;
      margin-top: 0.5rem;
      &_c{
        padding: 0.25rem 0.6rem;
        background: #222;
        border: 1px solid $main;
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-right: 0.5rem;
      }
      input{
        position: absolute;
        top: 0;
        cursor: pointer;
        left: 0;
        z-index: 2;
        width: 100%;
        opacity: 0;
        height: 100%;
        &:checked ~ {
          .db_empresa_container_group_radios_radio_c{
            background: $main;
          }
        }
      }
    }
  }
  .db_empresa_subgroup{
    width: 100%;
    margin: 0.5rem 0;
    box-sizing: border-box;
    padding-left: 0.5rem;
    &_title{
      width: 100%;
      box-sizing: border-box;
      color: white;
      font-weight: 500;
      box-sizing: border-box;
      padding-bottom: -0.2rem;
      font-size: 0.9rem;
      &::before{
        content: '/';
        color: #ccc;
        display: inline-block;
        font-size: 0.8em;
        margin-right: 0.25rem;
      }
    }
    &.ss_empty{
      .db_empresa_subgroup_title{
        &::after{
          content: '(vacío)';
          display: inline-block;
          margin-left: 0.5rem;
          font-size: 0.8rem;
          opacity: 0.8;
        }
      }
    }
    &_content{
      &_empty{

      }
    }
  }
  &_innerlist{
    width: 100%;
    box-sizing: border-box;
    .ss_transaction_row{
      box-sizing: border-box;
      margin-bottom: 0.25rem;
      border-bottom: 1px solid rgba(white, 0.1);
      @extend .flex;
      align-items: center;
      &_d{
        box-sizing: border-box;
        padding: 0.25rem;
        cursor: pointer;
        max-height: 1.25rem;

        .material-icons{
          font-size: 0.9rem;
          line-height: 1;
        }
        &:hover{
          .material-icons{
            color: $main;
          }
        }
      }
      &_c{
        @extend .flex;
        flex: 1;
        color: white;
        align-items: center;
        box-sizing: border-box;
        padding: 0.5rem 0.25rem 0.5rem;
        overflow: hidden;
        .ss_transaction_row_n{
          margin-right: 1rem;
          font-weight: 300;
          @extend .flex;
          align-items: center;
          font-size: 0.8rem;
          max-width: 65%;
          overflow: hidden;
          line-height: 1.1;
          &_d{
            @extend .flex;
            align-items: center;
            line-height: 1;
            &_a{
              width: 30px;
              text-align: center;
            }
            &_t{
              line-height: 1;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              max-width: 140px;
            }
          }
        }
        .ss_transaction_row_n_c{
          flex: 1;
          @extend .flex;
          justify-content: flex-end;
          span{
            display: inline-block;
            background: $yellow;
            font-size: 0.8rem;
            padding: 0.25rem;
            border-radius: 0.75rem;
          }
        }
        .ss_transaction_row_d{
          flex: 1;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.8rem;
          text-align: right;
          color: #f0f0f0;
        }
      }
    }
  }
}
.ss_input_autocomplete{
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #333;
  border: 1px solid #444;
  border-top: none;
  transform: translateY(100%);
  z-index: 99;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba(black, 0.3);
  &_loader{
  }
  .ss_input_autocomplete_results{
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
  }
  .ss_input_autocomplete_row{
    width: 100%;
    box-sizing: border-box;
    padding: 0.25rem;
    line-height: 1.1;
    font-size: 0.7rem;
    position: relative;
    cursor: pointer;
    &:hover, &.ss_selected{
      background: rgba(white, 0.1);
    }
    &:not(:last-child){
      border-bottom: 1px solid #444;
    }

  }
}
.ss_db_input, .ss_db_input_select{
  box-sizing: border-box;
  padding: 0.5rem 0.6rem;
  width: 50%!important;
  position: relative;
  margin-bottom: 0.5rem;
  &.ss_db_input_select, &.ss_textarea{
    width: 100%!important;
  }
  .db_empresa_container_group_radios_title{
    margin-top: 0.75rem;
  }
  .ss_db_input_select_radios{
    @extend .flex;
    align-items: center;
    margin-top: 0.15rem;
    &_radio{
      @extend .flex;
      align-items: center;
      margin-right: 0.5rem;
      cursor: pointer;
      label{
        line-height: 1;
        margin-left: 0.15rem;
        font-size: 0.9rem;
        cursor: pointer;
      }
    }
  }
  select{
    width: 100%;
    display: block;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    appearance: none;
    border-radius: 0;
    background: #222;
    border: 1px solid $main;
    color: white;
    cursor: pointer;
  }
  &_container{
    width: 100%;
    position: relative;
    @extend .flex;
    flex-direction: column;
    &_input{
      width: 100%;
      order: 2;
      position: relative;
      margin-top: 0.75rem;
      textarea{
        resize: none;
        min-height: 100px;
      }
      .ss_db_input_container_label{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: black;
        z-index: 2;
        @extend .flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0.5rem;
        color: #777;
        line-height: 1;
        overflow: hidden;
        transition: transform 0.35s ease;
        pointer-events: none;
        height: auto;
        padding: 0.25rem 0;
        color: white;
        font-size: 0.7rem;
        font-weight: 600;
        transform: translateY(-100%);
      }
      input, textarea{
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 0.5rem;
        font-size: 0.8rem;
        border: 0;
        font-family: $f;
        color: white;
        background: transparent;
        border: 1px solid #555;
        &:focus, &.ss_with_value{
          outline: 0;
        }
      }
    }
    &_label{
      font-size: 0.9rem;
      color: white;
      margin-bottom: 0.25rem;
      font-weight: 400;
      box-sizing: border-box;
      order: 1;
    }
    &_error{
      order: 3;
      @extend .flex;
      align-items: center;
      font-size: 0.8rem;
      margin-top: 0.25rem;
      .material-icons{
        font-size: 0.8rem;
        margin-right: 0.25rem;
      }
    }
  }
  &.ss_invalid{
    &.ss_on_error_error{
      .ss_db_input_container_error{
        color: red;
      }
      input{
        background: none;
        border-color: red;
        color: red;
      }
    }
    &.ss_on_error_warning{
      .ss_db_input_container_error{
        color: yellow;
      }
      input{
        background: none;
        border-color: yellow;
        color: yellow;
      }
    }
  }
}
.ss_modal_edit{
  .MuiDialogTitle-root{
    h2{
      font-weight: 300;
    }
  }
  .MuiPaper-root{
    background: $blue;
    min-width: 600px;
    font-family: $f;
    border-radius: 0;
  }
}
.db_empresa_edit_container.db_block_edit{
  .ss_db_input{
    .ss_db_input_container_error{
      display: none!important;
    }
    .ss_db_input_container_input{
      input{
        pointer-events: none;
        border-top: none;
        border-right: none;
        border-left: none;
        color: #f6f6f6!important;
        border-color: #ccc!important;
      }
    }
  }
  .dbef_n_ctas_c{
    display: none!important;
  }
  .ss_transaction_row_d{
    display: none!important;
  }
  .br_i{
    pointer-events: none!important;
  }
  .db_empresa_name_trash{
    display: none;
  }
}
