.db_empresa_edit{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: darken($blue, 5%);
  border-left: 2px solid beige;
  box-sizing: border-box;
  transform: translateX(100%);
  .db_empresa_edit_close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    .material-icons{
      color: white;
    }
  }
  &_container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @extend .flex;
    flex-direction: column;
    .db_empresa_name{
      width: 100%;
      box-sizing: border-box;
      padding: 0.25rem 1rem 1rem;
      font-size: 1.8rem;
      color: white;
      font-weight: 300;
      @extend .flex;
      align-items: center;
      &_errors{
        @extend .flex;
        &_td{
          @extend .flex;
          align-items: center;
          box-sizing: border-box;
          padding: 0.25rem;
          *{
            font-size: 0.8rem;
            font-weight: 500;
            line-height: 0.8rem;
          }
          .material-icons{
            margin-right: 0.25rem;
          }
        }
      }
      &_trash{
        cursor: pointer;
        padding-left: 0.5rem;
        position: relative;
        @extend .flex;
        align-items: center;
        justify-content: center;
        .material-icons{
        }
      }
      &_t{
        flex: 1;
        @extend .flex;
        align-items: center;
        .material-icons{
          opacity: 0.8;
          margin-right: 0.25rem;
        }
        div{
          flex: 1;
          input{
            font-size: 1.6rem;
            font-family: $f;
            font-weight: 300;
            color: white;
            background: none;
            border: 0;
            box-sizing: border-box;
            display: block;
            padding: 0.5rem 0.75rem;
            width: 100%;
            &:focus{
              outline: 0;
              background: white;
              color: $blue;
              border-radius: 1.5rem;
            }
          }
        }
      }
    }
    &_dbinfo{
      width: 100%;
      box-sizing: border-box;
      padding: 1rem;
      font-size: 0.95rem;
      @extend .flex;
      align-items: center;
      .material-icons{
        font-size: 0.85rem;
        line-height: 0.85rem;
        margin-right: 0.5rem;
      }
      .ss_dbe_dbname{
        color: white;
      }
    }
  }
  .db_empresa_container{
    &_form{
      width: 100%;
      position: relative;
      box-sizing: border-box;
      flex: 1;
      overflow-y: auto;
      padding: 0 1rem 8rem;
      .dbef_n{
        width: 100%;
        @extend .flex;
        color: white;
        &_n{
          font-weight: 600;
          @extend .flex;
          align-items: center;
          .dbef_n_n_badge{
            font-size: 0.65rem;
            margin-left: 0.5rem;
            padding: 0.25rem 0.75rem;
            border-radius: 1.15rem;
            background-color: beige;
            font-weight: 600;
            color: $blue;
          }
        }
        &_ctas{
          flex: 1;
          @extend .flex;
          justify-content: flex-end;
          padding-right: 1rem;
          &_c{
            font-size: 0.8rem;
            background: $yellow;
            padding: 0.25rem 0.35rem;
            border-radius: 1.15rem;
            cursor: pointer;
            transition: all 0.25s ease;
            &:hover{
              background: darken($yellow, 10%);
            }
          }
        }
      }
      .MuiPaper-root{
        border-radius: 0;
        background: $blue;
        .MuiExpansionPanelSummary-root{
          .material-icons{
            color: #f2f2f2;
          }
        }
      }
    }
    &_group{
      width: 100%;
      box-sizing: border-box;
      &_title{
        width: 100%;
        font-size: 1.2rem;
        color: white;
        box-sizing: border-box;
      }
    }
  }
}
.db_empresa_container_group_form{
  width: 100%;
  @extend .flex;
  flex-wrap: wrap;
  .db_empresa_subgroup{
    width: 100%;
    margin: 0.5rem 0;
    &_title{
      width: 100%;
      box-sizing: border-box;
      color: white;
      font-weight: 500;
      box-sizing: border-box;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid rgba(white, 0.2);
    }
    &_content{
      &_empty{
        font-size: 0.9rem;
        color: white;
        font-weight: 600;
        margin-top: 0.35rem;
      }
    }
  }
  &_innerlist{
    width: 100%;
    box-sizing: border-box;
    .ss_transaction_row{
      cursor: pointer;
      box-sizing: border-box;
      padding: 0.75rem 0.75rem;
      margin: 0.75rem 0;
      background: rgb(48, 35, 77);
      box-shadow: 2px 2px 4px rgba(black, 0.2);
      &_c{
        @extend .flex;
        color: white;
        align-items: center;
        .ss_transaction_row_n{
          margin-right: 1rem;
          font-weight: 300;
        }
        .ss_transaction_row_d{
          flex: 1;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.8rem;
          color: #f0f0f0;
        }
      }
    }
  }
}
.ss_db_input, .ss_db_input_select{
  box-sizing: border-box;
  padding: 0.4rem 0.5rem;
  flex: 1;
  min-width: 50%;
  &.ss_large, &.ss_db_input_select{
    min-width: 100%;
  }
  select{
    width: 100%;
    display: block;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 0.9rem;
  }
  &_container{
    width: 100%;
    position: relative;
    @extend .flex;
    flex-direction: column;
    &_input{
      width: 100%;
      order: 2;
      input{
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 0.5rem;
        font-size: 0.9rem;
        border: 0;
        font-family: $f;
        background: white;
        border: 2px solid white;
        &:focus{
          outline: 0;
        }
      }
    }
    &_label{
      font-size: 0.9rem;
      color: white;
      margin-bottom: 0.25rem;
      font-weight: 400;
      box-sizing: border-box;
      order: 1;
    }
    &_error{
      order: 3;
      @extend .flex;
      align-items: center;
      font-size: 0.8rem;
      margin-top: 0.25rem;
      .material-icons{
        font-size: 0.8rem;
        margin-right: 0.25rem;
      }
    }
  }
  &.ss_invalid{
    &.ss_on_error_error{
      .ss_db_input_container_error{
        color: red;
      }
      input{
        background: none;
        border-color: red;
        color: red;
      }
    }
    &.ss_on_error_warning{
      .ss_db_input_container_error{
        color: yellow;
      }
      input{
        background: none;
        border-color: yellow;
        color: yellow;
      }
    }
  }
}
.ss_modal_edit{
  .MuiDialogTitle-root{
    h2{
      font-weight: 300;
      color: beige;
    }
  }
  .MuiPaper-root{
    background: $blue;
    min-width: 600px;
    font-family: $f;
    border-radius: 0;
  }
}
