.ss_page_fps{
  position: fixed;
  top: 50px;
  right: 20px;
  z-index: 999999999999;
}
.ss_dbbuilder{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  height: calc(100vh  - 55px);
  margin-top: 55px;
  position: relative;
  @extend .flex;
  &_sidebar{
    width: 30%;
    background: $blue;
    margin: 0;
    height: 100%;
    z-index: 10;
    position: relative;
    border-right: 2px solid #333;

    &_collapse{
      width: 28px;
      height: 28px;
      position: absolute;
      right: 0;
      top: 50%;
      z-index: 9999;
      @extend .flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      background: #333;
      border: 1px solid $main;
      transform: translate(100%, -50%);
      justify-content: center;
      align-items: center;
      border-left: none;
      .material-icons{
        color: #f6f6f6;
        @extend .cxy;
      }
    }

    &_dbs{
      height: 100%;
      position: relative;

      &_view, .ss_db_view, .ss_db_view > div{
        width: 100%;
        height: 100%;
      }
      .ss_db_view{
        > div{
          @extend .flex;
          flex-direction: column;
        }

        &_name{
          order: 2;
          display: none;
        }
      }
    }
  }
}
#ss_autosave_indicator{
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}
.react-resizable-handle-se{
  width: 20px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: col-resize;
  z-index: 9999;
  &:hover{
    background: #333;
  }
}
body.ss_show_sidebar{
  .ss_dbbuilder_sidebar{
    width: 0!important;
    .ss_dbbuilder_sidebar_dbs{
      display: none;
    }
    &_collapse{
      .material-icons{
        transform: translate(-50%,-50%) rotate(180deg);
      }
    }
  }
}

.MuiDialog-paper{
  border-radius: 0!important;
  background: #2a2a2a!important;
  border: 2px solid #333;
  .MuiDialogTitle-root, .MuiFormControlLabel-root{
    align-items: center;
    margin-top: 1rem;
    padding-left: 5.5%!important;
    *, &{
      font-weight: 300;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
    h2{
      color: #f6f6f6;
      font-weight: 100;
      &::before{
        content: '/';
        color: $main;
        font-weight: 600;
        margin-right: 0.35rem;
      }
    }
  }
}

.MuiButton-textSecondary{
  font-weight: 400!important;
  color: #f6f6f6!important;
  border: 1px solid $main!important;
  background: #222!important;
  font-size: 0.7rem!important;
  &.Mui-disabled{
    opacity: 0.5!important;
  }
}
.MuiDialogActions-root{
  box-sizing: border-box;
  padding-top: 0.75rem!important;
  padding-right: 1rem!important;
}
.ss_modal_dbpre{
  .ss_predb{
    &_select{
      width: 100%;
      position: relative;
      cursor: pointer;
      min-width: 350px;
      &:hover{
        .ss_predb_select_info{
          background: rgba(white, 0.05);
        }
      }
      input{
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        &:checked{
          & ~ .ss_predb_select_info{
            background: rgba(white, 0.1);
          }
        }
      }
      &_info{
        width: 100%;
        box-sizing: border-box;
        padding: 0.4rem 0.25rem 0.6rem;
        color: white;
        position: relative;
        border-bottom: 1px solid rgba(white, 0.1);
      }
      &_name{
        width: 100%;
        font-size: 1.1rem;
        font-weight: 400;
      }
      &_author{
        font-size: 0.6rem;
        text-transform: uppercase;
        margin-top: 0.15rem;
      }
      &_country{
        @extend .flex;
        align-items: center;
        margin-top: 0.2rem;
        img{
          width: 10px;
          line-height: 1;
          height: 0%!important;
        }
        span{
          font-size: 0.6rem;
          font-weight: 600;
          text-transform: uppercase;
          display: block;
          box-sizing: border-box;
          padding-left: 0.25rem;
          transform: translateY(0);
        }
      }
      &_maxtime{
        color: $main;
        font-size: 0.7rem;
        margin-top: 0.5rem;
      }
      &_alert{
        margin-top: 0.25rem;
        color: yellow;
        @extend .flex;
        font-size: 0.8rem;
        align-items: center;
        .material-icons{
          font-size: 0.8rem;
        }
        label{
          box-sizing: border-box;
          padding-left: 0.25rem;
        }
      }
    }
  }


}

#ssdb_loader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  background: #333 url('../static/loader.gif') no-repeat center center;
  background-size: cover;
  background-blend-mode: hard-light;
  opacity: 0.95;
  &_c{
    @extend .cxy;
  }
}

#ss_borrar_input{
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  &:focus{
    outline: 0;
  }
}
