.ss_dbbuilder{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  height: calc(100vh  - 56px);
  margin-top: 56px;
  position: relative;
  @extend .flex;
  &_sidebar{
    width: 30%;
    background: $blue;
    margin: 0;
    height: 100%;
    z-index: 10;
    position: relative;

    &_collapse{
      width: 27px;
      height: 27px;
      background: darken($blue, 10%);
      position: absolute;
      right: 0;
      top: 50%;
      z-index: 9999;
      @extend .flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      transform: translate(100%, -50%);
      .material-icons{
        @extend .cxy;
        color: #ccc;
      }
    }

    &_dbs{
      height: 100%;
      position: relative;
      &_view, .ss_db_view, .ss_db_view > div{
        width: 100%;
        height: 100%;
      }
      .ss_db_view{
      }
    }
  }
}
#ss_autosave_indicator{
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}
body.ss_show_sidebar{
  .ss_dbbuilder_sidebar{
    width: 0%;
    .ss_dbbuilder_sidebar_dbs{
      display: none;
    }
    &_collapse{
      .material-icons{
        transform: translate(-50%,-50%) rotate(180deg);
      }
    }
  }
}

.MuiDialog-paper{
  border-radius: 0!important;
  background: #111!important;
  .MuiDialogTitle-root, .MuiFormControlLabel-root{
    color: #f0f0f0!important;
  }
}

.ss_modal_dbpre{

  .ss_predb{
    &_select{
      width: 100%;
      position: relative;
      margin: 0.5rem 0;
      cursor: pointer;
      &:hover{
        .ss_predb_select_info{
          background: rgba(white, 0.05);
        }
      }
      input{
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        &:checked{
          & ~ .ss_predb_select_info{
            background: rgba(white, 0.1);
          }
        }
      }
      &_info{
        width: 100%;
        box-sizing: border-box;
        padding: 0.7rem 0.5rem;
        color: white;
        border-bottom: 2px solid #0072ff;
        position: relative;

      }
      &_name{
        width: 100%;
        font-size: 1.1rem;
        font-weight: 600;
      }
      &_author{
        font-size: 0.7rem;
        text-transform: uppercase;
        margin-top: 0.25rem;
      }
      &_country{
        @extend .flex;
        align-items: center;
        margin-top: 0.25rem;
        img{
          width: 15px;
          line-height: 1;
          height: 0%!important;
        }
        span{
          font-size: 0.7rem;
          font-weight: 600;
          text-transform: uppercase;
          display: block;
          box-sizing: border-box;
          padding-left: 0.25rem;
          transform: translateY(0.1rem);
        }
      }
      &_maxtime{
        color: #f4f4f4;
        font-size: 0.8rem;
        margin-top: 0.5rem;
      }
      &_alert{
        margin-top: 0.25rem;
        color: yellow;
        @extend .flex;
        font-size: 0.8rem;
        align-items: center;
        .material-icons{
          font-size: 0.8rem;
        }
        label{
          box-sizing: border-box;
          padding-left: 0.25rem;
        }
      }
    }
  }


}

#ssdb_loader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  background: rgba($blue, 0.8);
  &_c{
    @extend .cxy;
  }
}
