.ss_dbbuilder{
  width: 100%;
  box-sizing: border-box;
  background: white;
  position: relative;
  top: $menuh;
  overflow: hidden;
  @extend .flex;
  padding-top: 6px;
  &_sidebar{
    width: 35%;
    background: $blue;
    min-height: 90vh;
    margin: 0;
    overflow: hidden;
  }
}
