.ss_dbbuilder_sidebar_dbs{
  width: 100%;
}
.ss_dbbuilder_sidebar_dbs_nav{
  width: 100%;
  @extend .flex;
  overflow-x: auto;
  &_td{
    cursor: pointer;
    background: $blue;
    overflow: hidden;
    @extend .flex;
    justify-content:center;
    align-items: center;
    padding: 12px 5px;
    border-bottom: 2px solid $yellow;
    flex: 1;
    position: relative;
    &:first-child{
      transform: none;
    }
    &.ss_inactive{
      border-color: red!important;
      .ss_dbtab_circle{
        background-color: rgba(white, 0.1)!important;
      }
      .ss_dbbuilder_sidebar_dbs_nav_td_input span{
        text-decoration: line-through;
      }
    }
    &_input{
      white-space: nowrap;
      text-overflow: ellipsis;
      color: white;
      font-size: 0.9rem;
      overflow: hidden;
      @extend .flex;
      align-items: center;
      justify-content: center;
      .ss_dbtab_circle{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
        flex-shrink: 0;
      }
      span{
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    &.ss_active{
      min-width: 100px;
      border-color: rgb(240, 239, 209);
      background-color: lighten($blue, 10%);
    }
    &:hover{
      background-color: lighten($blue, 5%);
    }
    &.ss_db_newdb{
      color: white;
      white-space: nowrap;
      min-width: 30px;
      &.ss_db_newdb_active{
        background: rgba(white, 0.075);
      }
      span{
        font-size: 0.9rem;
        font-weight: 600;
        &:not(.material-icons){
          margin-left: 5px;
        }
      }
    }
  }
  &.ss_overflow{
    .ss_db_newdb{
      .ss_db_nav_s{
        display: none;
      }
    }
  }
}
#ss_popper_lang{
  z-index: 9999;
  padding-top: 1.05rem;
  .ss_popper_container{
    width: 150px;
    background: #222;
    box-shadow: 3px 3px 6px rgba(black, 0.5);
    overflow: hidden;
    max-height: 200px;
    overflow-y: auto;
    &_button{
      width: 100%;
      box-sizing: border-box;
      padding: 0.75rem 0.5rem;
      @extend .flex;
      align-items: center;
      color: white;
      font-family: $f;
      line-height: 1;
      cursor: pointer;
      position: relative;
      img{
        width: 15px;
      }
      &:not(:last-child){
        border-bottom: 1px solid rgba(white, 0.075);
      }
      &:hover, &.ss_btn_active{
        background: rgba(white, 0.075);
      }
      .material-icons{
        font-size: 16px;
      }
      input{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
      }
      div{
        flex: 1;
        line-height: 1;
        font-size: 0.9rem;
        font-weight: 600;
        padding-left: 0.5rem;
        box-sizing: border-box;
      }
    }
  }
}
#ss_db_popper{
  z-index: 9999;
  .ss_popper_container{
    width: 250px;
    background: #222;
    box-shadow: 3px 3px 6px rgba(black, 0.5);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    &_button{
      width: 100%;
      box-sizing: border-box;
      padding: 0.75rem 0.5rem;
      @extend .flex;
      align-items: center;
      color: white;
      font-family: $f;
      line-height: 1;
      cursor: pointer;
      position: relative;
      &:not(:last-child){
        border-bottom: 1px solid rgba(white, 0.075);
      }
      &:hover{
        background: rgba(white, 0.075);
      }
      .material-icons{
        font-size: 16px;
      }
      input{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
      }
      div{
        flex: 1;
        line-height: 1;
        font-size: 0.9rem;
        font-weight: 600;
        padding-left: 0.5rem;
        box-sizing: border-box;
      }
    }
  }
}
