.ss_db_view{
  width: 100%;
  &_name{
    width: 100%;
    box-sizing: border-box;
    padding: 0.35rem 1rem;
    @extend .flex;
    flex-shrink: 1;
    align-items: center;
    .material-icons{
      margin-right: 5px;
      color: rgb(210, 210, 210);
    }
    input{
      flex: 1;
      display: block;
      padding: 0.25rem 0.5rem;
      box-sizing: border-box;
      border: 0;
      font-size: 1.3rem;
      font-family: $f;
      font-weight: 600;
      color: white;
      background: none;
      border-radius: 1.25rem;
      max-width: 90%;
      border: 2px solid transparent;
      &:focus{
        outline: 0;
        background: white;
        color: $blue;
        border-color: white;
      }
    }
    &.ss_error{
      input{
        background: transparent;
        color: red;
        border-color: red;
      }
    }
  }

  &_empresas{
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem 1rem 1rem;
    max-height: 100%;
    @extend .flex;
    flex-direction: column;
    &_title{
      color: white;
      font-weight: 400;
      font-size: 0.9rem;
      @extend .flex;
      align-items: center;
      padding-top: 0.25rem;
      padding-bottom: 0.75rem;
      padding-left: 0.5rem;
      border-bottom: 1px solid #444;
      &_btn{
        display: inline-block;
        background: #222;
        margin-left: 10px;
        padding: 0.28rem 0.5rem 0.18rem;
        line-height: 1;
        font-size: 0.7rem;
        border: 1px solid $main;
        text-transform: uppercase;
        font-weight: 400;
        cursor: pointer;
        &:hover{
          background: $main;
        }
      }
    }
    &_notice{
      width: 100%;
      background: #222;
      box-sizing: border-box;
      padding: 0.5rem 1rem;
      border: 1px solid #333;
      @extend .flex;
      margin: 0.5rem 0;
      align-items: center;
      &,*{
        font-size: 0.7rem;
      }
      .material-icons{
        font-size: 0.8rem;
        color: yellow;
        line-height: 1;
      }
      div{
        color: #f6f6f6;
        line-height: 1.1;
        box-sizing: border-box;
        padding-left: 0.5rem;
      }
    }
    .ss_db_ve_c{
      width: 100%;
      flex: 1;
      overflow: hidden;
      overflow-y: auto;
      box-sizing: border-box;
      padding-bottom: 180px;
      &_nocontent{
        width: 100%;
        box-sizing: border-box;
        padding: 3rem 1rem;
        border: 1px solid $main;
        margin-top: 0.5rem;
        background: rgba(black, 0.1);
        cursor: pointer;
        background-size: contain;
        @extend .flex;
        flex-direction: column;
        align-items: center;

        &_icon{
          width: 100px;
          height: 100px;
          position: relative;
          border-radius: 50%;
          background: $main;
          .material-icons{
            display: block;
            @extend .cxy;
            font-size: 3rem;
            color: white;
          }
        }
        &_des{
          width: 100%;
          p{
            color: white;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1rem;
            cursor: pointer;
            text-align: center;
            &::before{
              content: '/';
              color: #888;
              margin-right: 0.25rem;
            }
          }
          &_cta{
            width: 100%;
            text-align: center;
            a{
              text-decoration: underline;
              color: white;
            }
          }
        }
      }
    }
  }
  .ss_db_ve_c_empresas_list{
    width: 100%;
    margin: 0rem 0 1rem;
    padding-bottom: 4rem;
  }
  .db_empresa{
    width: 100%;
    box-sizing: border-box;
    padding-left: 0.2rem;
    &:first-child{
      margin-top: 0;
    }
    &_container{
      width: 100%;
      box-sizing: border-box;
      position: relative;
      padding: 0.45rem 0.35rem;
      cursor: pointer;
      @extend .flex;
      align-items: center;
      font-size: 0.8rem;
      color: #f6f6f6;
      transition: all 0.15s ease;
      border-bottom: 1px solid rgba(white, 0.05);
      small{
        font-weight: 500;
        font-size: 0.7rem;
        color: #bbb;
        transition: all 0.15s ease;
      }
      &:hover{
        background: rgba(black, 0.2);
      }
      &_indicator{
        width: 5px;
        height: 5px;
        border: 2px solid transparent;
        margin-right: 5px;
        background: rgb(13, 237, 130);
        border-radius: 50%;
      }
      &_name{
        color: white;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &.ss_active{
      .db_empresa_container{
        background: $main;
      }
    }
    &.ss_new{
      .db_empresa_container_indicator{
        background-color: red;
      }
    }
  }
}
