.ss_db_view{
  width: 100%;
  &_name{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    @extend .flex;
    align-items: center;
    .material-icons{
      margin-right: 5px;
      color: rgb(210, 210, 210);
    }
    input{
      flex: 1;
      display: block;
      padding: 0.25rem 0.5rem;
      box-sizing: border-box;
      border: 0;
      font-size: 1.3rem;
      font-family: $f;
      font-weight: 600;
      color: white;
      background: none;
      border-radius: 1.25rem;
      border: 2px solid transparent;
      &:focus{
        outline: 0;
        background: white;
        color: $blue;
        border-color: white;
      }
    }
    &.ss_error{
      input{
        background: transparent;
        color: red;
        border-color: red;
      }
    }
  }

  &_empresas{
    width: 100%;
    border-top: 2px solid #f6f6f6;
    box-sizing: border-box;
    padding: 0.75rem 1rem 1rem;
    max-height: 100%;
    @extend .flex;
    flex-direction: column;
    &_title{
      color: white;
      font-weight: 600;
      @extend .flex;
      align-items: center;
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;
      &_btn{
        display: inline-block;
        background: #444;
        margin-left: 10px;
        padding: 0.12rem 0.5rem;
        font-size: 0.9rem;
        cursor: pointer;
        &:hover{
          background: $main;
        }
      }
    }
    .ss_db_ve_c{
      width: 100%;
      flex: 1;
      overflow: hidden;
      overflow-y: auto;
      box-sizing: border-box;
      padding-bottom: 180px;
      &_nocontent{
        width: 100%;
        box-sizing: border-box;
        padding: 2rem 1rem;
        background: rgba(white, 0.05);
        margin-top: 1rem;
        @extend .flex;
        flex-direction: column;
        align-items: center;
        &_icon{
          width: 100px;
          height: 100px;
          position: relative;
          border-radius: 50%;
          background: $main;
          .material-icons{
            display: block;
            @extend .cxy;
            font-size: 3rem;
            color: white;
          }
        }
        &_des{
          width: 100%;
          p{
            color: white;
            text-align: center;
          }
          &_cta{
            width: 100%;
            text-align: center;
            a{
              text-decoration: underline;
              color: white;
            }
          }
        }
      }
    }
  }
  .ss_db_ve_c_empresas_list{
    width: 100%;
    margin: 1rem 0 3rem;
  }
  .db_empresa{
    width: 100%;
    margin: 0.5rem 0;
    &:first-child{
      margin-top: 0;
    }
    &_container{
      width: 100%;
      box-sizing: border-box;
      position: relative;
      padding: 0.45rem 0.35rem 0.3rem;
      cursor: pointer;
      @extend .flex;
      align-items: center;
      transition: all 0.15s ease;
      border-bottom: 1px dotted rgba(white, 0.1);
      &:hover{
        background: darken($main, 15%);
      }
      &_indicator{
        width: 5px;
        height: 5px;
        border: 2px solid transparent;
        margin-right: 5px;
        background: rgb(13, 237, 130);
        border-radius: 50%;
      }
      &_name{
        color: white;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &.ss_active{
      .db_empresa_container{
        background: $main;
      }
    }
    &.ss_new{
      .db_empresa_container_indicator{
        background-color: red;
      }
    }
  }
}
