.ss_db_view{
  width: 100%;
  &_name{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    @extend .flex;
    align-items: center;
    .material-icons{
      margin-right: 5px;
      color: rgb(210, 210, 210);
    }
    input{
      flex: 1;
      display: block;
      padding: 0.5rem 0.75rem;
      box-sizing: border-box;
      border: 0;
      font-size: 1.3rem;
      font-family: $f;
      font-weight: 600;
      color: white;
      background: none;
      border-radius: 1.5rem;
      border: 2px solid transparent;
      &:focus{
        outline: 0;
        background: white;
        color: $blue;
        border-color: white;
        box-shadow: 2px 2px 4px rgba(black, 0.1);
      }
    }
    &.ss_error{
      input{
        background: transparent;
        color: red;
        border-color: red;
      }
    }
  }

  &_empresas{
    width: 100%;
    border-top: 2px solid beige;
    box-sizing: border-box;
    padding: 1rem;
    &_title{
      color: white;
      font-weight: 400;
      @extend .flex;
      align-items: center;
      padding-bottom: 0.5rem;
      &_btn{
        display: inline-block;
        background: $yellow;
        margin-left: 5px;
        padding: 0.12rem 0.5rem;
        font-size: 0.9rem;
        cursor: pointer;
        border-radius: 0.8rem;
      }
    }
    .ss_db_ve_c{
      width: 100%;
      max-height: 100%;
      overflow: hidden;
      overflow-y: auto;
      &_nocontent{
        width: 100%;
        box-sizing: border-box;
        padding: 2rem 1rem;
        background: rgba(white, 0.05);
        margin-top: 1rem;
        @extend .flex;
        flex-direction: column;
        align-items: center;
        &_icon{
          width: 100px;
          height: 100px;
          position: relative;
          border-radius: 50%;
          background: rgb(231, 53, 36);
          .material-icons{
            display: block;
            @extend .cxy;
            font-size: 3rem;
            color: white;
          }
        }
        &_des{
          width: 100%;
          p{
            color: white;
            text-align: center;
          }
          &_cta{
            width: 100%;
            text-align: center;
            a{
              text-decoration: underline;
              color: white;
            }
          }
        }
      }
    }
  }
  .ss_db_ve_c_empresas_list{
    width: 100%;
    margin: 1rem 0;
  }
  .db_empresa{
    width: 100%;
    margin: 0.5rem 0;
    &_container{
      width: calc(100% - 10px);
      box-sizing: border-box;
      position: relative;
      padding: 0.5rem;
      background: darken($blue, 7%);
      cursor: pointer;
      @extend .flex;
      align-items: center;
      transition: all 0.15s ease;
      &:hover{
        background: rgb(41, 54, 99);
      }
      &_indicator{
        width: 5px;
        height: 5px;
        border: 2px solid transparent;
        margin-right: 5px;
        background: rgb(13, 237, 130);
        border-radius: 50%;
      }
      &_name{
        color: white;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &.ss_active{
      .db_empresa_container{
        background:rgb(128, 35, 96);
        transform: translateX(10px);
      }
    }
    &.ss_new{
      .db_empresa_container_indicator{
        background-color: red;
      }
    }
  }
}
